In [1]:
import pandas as pd

In [2]:
#Aqui é a onde puxo o Dataset em formato csv para o arquivo pandas.

df = pd.read_csv('Titanic/titanic.csv')

print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [4]:
#Na coluna 'Sobreviventes' (Survided) as pessoas que sobreviveram estão indicadas pelo número 1. Nesta linha de código, estou substituindo o '1' pelo 'Yes' 

titanic_modific = df.loc[df['Survived'] == 1, 'Survived'] = 'Yes'

In [5]:
#Aqui eu filtrei os dados, para que só aparecem os passageiros que fossem mulher, que estivem na primeira classe e que sobreviveram ao naufrágio.

titanic_filter = df.loc[(df['Sex'] == 'female') & (df['Pclass'] == 1) & (df['Survived'] == 'Yes')]

print(titanic_filter)

     PassengerId Survived  Pclass  \
1              2      Yes       1
3              4      Yes       1
11            12      Yes       1
31            32      Yes       1
52            53      Yes       1
..           ...      ...     ...
856          857      Yes       1
862          863      Yes       1
871          872      Yes       1
879          880      Yes       1
887          888      Yes       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
..                                                 ...     ...   ...    ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0

     Parch    Ticket      Fare Cabin Embarked
1        0  PC 17599   71.2833   C85        C
3        0    113803   53.1000  C123        S
11       0    113783   26.5500  C103        S
31       0  PC 17569  146.5208   B78        C
52       0  PC 17572   76.7292   D33        C
..     ...       ...       ...   ...      ...
856      1     36928  164.8667   NaN        S
862      0     17466   25.9292   D17        S
871      1     11751   52.5542   D35        S
879      1     11767   83.1583   C50        C
887      0    112053   30.0000   B42        S

[91 rows x 12 columns]

In [6]:
#Aqui categorizei e excluir as colunas que não são necessárias.

re_titanic = titanic_filter[['Name', 'Age', 'Sex', 'Pclass', 'Survived']]

In [8]:
#E or fim, ordenei os nomes das Mulheres em ordem alfabética.

final_titanic = re_titanic.sort_values('Name', ascending = True)

print(final_titanic)

                                                  Name   Age     Sex  Pclass  \
730                      Allen, Miss. Elisabeth Walton  29.0  female       1
275                  Andrews, Miss. Kornelia Theodosia  63.0  female       1
571      Appleton, Mrs. Edward Dale (Charlotte Lamson)  53.0  female       1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  18.0  female       1
369                      Aubart, Mme. Leontine Pauline  24.0  female       1
..                                                 ...   ...     ...     ...
258                                   Ward, Miss. Anna  35.0  female       1
366   Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  60.0  female       1
318                           Wick, Miss. Mary Natalie  31.0  female       1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  female       1
325                           Young, Miss. Marie Grice  36.0  female       1

    Survived
730      Yes
275      Yes
571      Yes
700      Yes
369      Yes
..       ...
258      Yes
366      Yes
318      Yes
856      Yes
325      Yes

[91 rows x 5 columns]

In [10]:
#E para finalizar, estou exportando o novo Dataset que foi modificado.

final_titanic.to_csv('titanic_results.csv', index=False)